body {
    font-family: 'Roboto', sans-serif;
    font-weight : 300;
    background : url('../images/shabu-anower-279561-unsplash.jpg');

    margin : 0;
    padding : 0;
}

#main_wrapper {
    display : flex;
    align-items : center;
    justify-content : center;
}

#content_wrapper {
    width : 50%;
    padding : 10px;
    background : white;
    border-radius : 20px;

    -webkit-box-shadow: 2px 2px 13px 4px rgba(36,36,36,0.56);
    -moz-box-shadow: 2px 2px 13px 4px rgba(36,36,36,0.56);
    box-shadow: 2px 2px 13px 4px rgba(36,36,36,0.56);

    text-align : center;
}

@media ( max-width : 768px ) {
    #content_wrapper {
        width: 75%;
    }
}

@media ( max-width : 425px ) {
    #content_wrapper {
        width: 100%;
        border-radius: 0;
    }
}

.error {
    font-size : 1.3em;
    color : #c51414;
    //color : red;
}