<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>currency calculator | admin panel</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main_wrapper">
    <div id="content_wrapper">
        <h1>Welcome to the currency calculator admin panel</h1>
        <p>total number of conversions:<span th:text="${conversionCount}"></span></p>
        <p>already included currencies:</p>
        <form action="/admin" method="get">
            <table>
                <th:block th:each="currency : ${currencies}">
                    <tr><td th:text="${currency.getIsoId()}"></td><td th:text="${currency.getName()}"></td><td th:text="${currency.getToDollar()}"></td></tr>
                </th:block>
                <tr>
                        <td><input type="text" name="iso" placeholder="iso"></td>
                        <td><input type="text" name="name" placeholder="name"></td>
                        <td>
                            <input type="number" name="to_dollar" placeholder="conversion rate to dollar" step="any">
                        </td>
                </tr>
            </table>
            <p>
                <input type="submit">
            </p>
        </form>


    </div>
</div>
<script type="text/javascript" src="js/init.js"></script>
</body>
</html>