<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>currency calculator | admin panel</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main_wrapper">
    <div id="content_wrapper">
        <h1>Welcome to the currency calculator admin panel</h1>
        <p>total number of conversions:<span th:text="${conversionCount}"></span></p>
        <p>already included currencies:</p>
        <form action="#" th:action="@{/admin}" th:object="${currencyForm}" method="post">
            <table>
                <th:block th:each="currency : ${currencies}">
                    <tr><td th:text="${currency.getIsoId()}"></td><td th:text="${currency.getName()}"></td><td th:text="${currency.getToDollar()}"></td></tr>
                </th:block>
                <tr>
                        <td><input type="text" th:field="*{iso_id}" placeholder="iso"></td>
                        <td><input type="text" th:field="*{name}" placeholder="name"></td>
                        <td>
                            <input type="number" th:field="*{to_dollar}" placeholder="conversion rate to dollar" step="any">
                        </td>
                </tr>
            </table>
            <p>
                <span class="error" th:if="${#fields.hasErrors('iso_id')}" th:errors="*{iso_id}">Iso Error</span>
                <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
                <span class="error" th:if="${#fields.hasErrors('to_dollar')}" th:errors="*{to_dollar}">to Dollar Error</span>

            </p>
            <p>
                <input type="submit">
            </p>
        </form>


    </div>
</div>
<script type="text/javascript" src="js/init.js"></script>
</body>
</html>