<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>currency calculator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="main_wrapper">
        <div id="content_wrapper">
            <h1>Welcome to the currency calcuator!</h1>
            <p th:if="${result != null}" th:text="${result}"></p>
            <form action="#" th:action="@{/}" th:object="${conversionForm}" method="post">
                <p>
                    <label for="select_from">origin currency</label>
                </p>
                <p>
                    <select id="select_from" th:field="*{from_currency}">
                        <th:block th:each="currency : ${currencies}">
                            <option th:text="${currency.getName()}" th:selected="${from_currency != null && from_currency == currency.getIsoId()}" th:value="${currency.getIsoId()}"></option>
                        </th:block>
                    </select>
                </p>
                <p>
                    <label for="select_to">target currency</label>
                </p>
                <p>
                    <select id="select_to" th:field="*{to_currency}">
                        <th:block th:each="currency : ${currencies}">
                            <option th:text="${currency.getName()}" th:selected="${to_currency != null && to_currency == currency.getIsoId()}" th:value="${currency.getIsoId()}"></option>
                        </th:block>
                    </select>
                </p>
                <p>
                    <label for="input_currency">value</label>
                </p>
                <p>
                    <input id="input_currency" type="number" th:field="*{currency_value}" step="any" placeholder="value to convert"/>
                </p>
                <p>
                    <input type="submit">
                </p>
                <p>

                    <span class="error" th:if="${#fields.hasErrors('from_currency')}" th:errors="*{from_currency}">Iso Error</span>
                    <span class="error" th:if="${#fields.hasErrors('to_currency')}" th:errors="*{to_currency}">Iso Error</span>
                    <span class="error" th:if="${#fields.hasErrors('currency_value')}" th:errors="*{currency_value}">Iso Error</span>

                </p>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/init.js"></script>
</body>
</html>